.about-us{
    display: flex;
    flex-direction: column;
    padding: 50px 20px;
    color: white;
    background-color: #d35e28;
}
.about-us h2{
    font-size: 32px;
    margin-bottom: 20px;
}

.about-us .mission{
    margin-top: 30px;
}
.about-us span{
    color: #eeecf1;
    font-weight: bold;
    margin-bottom: 10px;
}